= simple_form_for [incident,interaction],defaults: { required: false },  html: {multipart: true}, remote: true do |f|
  %h4= interaction.new_record? ? "New Interaction" : "Edit Interaction"
  #errors= errors_for interaction
  .row
    .span3
      = f.input :title , placeholder: 'Optional'
      = f.input :occurred, as: :date_time_picker, placeholder: 'Optional'
      = f.input :contact_person , placeholder: 'Optional'
      = f.input :contact_detail , placeholder: 'Optional'
      = f.input :target_date, as: :date_time_picker, placeholder: 'Optional'
      %label Tags
      %input.span1{type: 'text', name: 'tags', class: 'tm-input'}
      = f.hidden_field :tags, value: interaction.tag_names.join(','), id: 'tags', name: 'tags'
      %br
      %br
      = f.input :attachments_array, as: :file, input_html: { multiple: true}, label: false
    .span4
      = f.input :content, as: :text, input_html: { rows: 12 ,class: 'input-xlarge span4' }
      = token_tag
      = f.button :submit, interaction.new_record? ? 'Create interaction' : 'Update interaction', class: 'btn btn-small btn-primary'