- cache interaction do
  = div_for interaction do
    %h3= interaction.title.titleize
    %p= simple_format(interaction.content)
    %div
      %contact_detail= "Contacted #{interaction.contact_person} via #{interaction.contact_detail}" if interaction.contact_person?
      %start_date= "Started #{l interaction.start_at}"
      .pull-right
        - interaction.tag_names.each do |tag_name|
          %tags
            =tag_name
  %hr

