= simple_form_for :q, url: incident_interactions_path(incident),defaults: { required: false }, html: {method: :get, class: 'form-inline'} do |f|
  .row
    = f.input :title_or_content_cont, label: 'Title Or Content' , wrapper_html: {class: 'span6'}
  %br
  = f.input :attachments_id_present, label: 'Has attached files',   as: :boolean
  %br
  %p Occurred between:
  .row
    = f.input :occurred_gteq, placeholder: 'Starting',  label: false, as: :date_time_picker, wrapper_html: {class: 'span3'}
    = f.input :occurred_lteq, placeholder: 'Ending',  label: false,as: :date_time_picker, wrapper_html: {class: 'span3'}
  %p Target date between:
  .row
    = f.input :target_date_gteq, placeholder: 'Starting',  label: false, as: :date_time_picker, wrapper_html: {class: 'span3'}
    = f.input :target_date_lteq, placeholder: 'Ending',  label: false,as: :date_time_picker, wrapper_html: {class: 'span3'}
  %br
  = f.input :tags_name_in, label: 'Tags', collection: incident.tag_cloud,  as: :check_boxes, item_wrapper_class: :inline
  %br
  = f.submit "Search", class: 'btn btn-primary'