= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Home"), incidents_path
    %li= link_to glyph(:filter).concat(' Show/Hide Search'), '#', id: 'toggle_search'
    %li= link_to glyph(:refresh).concat(' Remove Filters/Show All'), incident_interactions_path(incident)
    %li= link_to glyph(:circle_arrow_left).concat(' Back'), :back

  %br
  %br

.search.well
  %h3 Search Interactions
  = render'search_form'

= render 'results'