= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Home"), incidents_path
    %li= link_to glyph(:filter).concat(' Show/Hide Search'), '#', id: 'toggle_search'
    %li= link_to glyph(:refresh).concat(' Remove Filters/Show All'), incident_interactions_path(incident)
    %li= link_to glyph(:circle_arrow_left).concat(' Back'), :back

  %br
  %br

.search.well
  %h3 Search Interactions
  = render partial: 'search_form'

.search-results
  %h3= "Search Results (#{interactions.result(distinct: true).size})"
  %ul.inline
    %li.header Sort By:
    %li= sort_link interactions, :start_at, "Start At", default_order: :desc
    %li.divider
    %li= sort_link interactions, :target_date, "Target Date", default_order: :desc
    %li.divider
    %li= sort_link interactions, :created, "Creation Date", default_order: :desc
    %li.divider
    %li= sort_link interactions, :title, "Title", default_order: :desc
    %hr
  - interactions.result(distinct: true).each do |interaction|
    = div_for interaction do
      %h4= interaction.title.titleize
      %p= simple_format(interaction.content)
      %ul.inline{id: 'attachments'}
        -interaction.attachments.each do |a|
          %li= link_to glyph(:file).concat( a.name.titleize), download_attachment_path(a), target: '_blank'
      %div
        %contact_detail= interaction.contact_info.presence
        %start_date= "Started #{l Time.zone.at(interaction.start_at)}" if interaction.start_at
        .pull-right
          - interaction.tag_names.each do |tag_name|
            %tags
              =tag_name
    %hr