- if interaction.errors.any?
  $('#errors').html("#{j errors_for(interaction)}");
- else
  $('#add_interaction').slideUp("slow", function(){
  $(this).html("");
  });
  $("##{dom_id(interaction)}").html("#{j render interaction}");
  $('body').scrollTo('##{dom_id(interaction)}');
  $("##{dom_id(interaction)}").effect("highlight", {}, 1500);
