- if interaction.errors.any?
  $('#errors').html("#{j errors_for(interaction)}");
- else
  $('#announcement').fadeToggle('slow', 'linear');
  $('#add_interaction').slideUp('slow');
  $('html,body').animate({scrollTop: $('##{dom_id(interaction)}').offset().top},'slow');
  $("##{dom_id(interaction)}").html('#{j render interaction}');
  $("##{dom_id(interaction)}").effect("highlight", {}, 1500);
