= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Home"), incidents_path
    %li= link_to glyph(:ok).concat(" Restore All"), restore_all_path, method: :patch, data: { confirm:  'This action cannot be undone. Are you sure you want to restore all the items?'}
    %li= link_to glyph(:remove).concat(" Empty All"), empty_trash_path, method: :delete, data: { confirm: 'This action cannot be undone. Are you sure you want to empty all the items?'}
    %li= link_to glyph(:circle_arrow_left).concat(' Back'), :back
  %br
  %br

%h3.text-center Trash
#trash
  - if trashed.any?
    = simple_form_for :trashed, html: {id: 'trashcan'} do |f|
      - bootstrap_table headers:['','Name','Created On','Trashed On'], types: [:bordered,:condensed,:striped], html_options: {class: 'sortable'} do
        - trashed.each do |item|
          %tr[item]
            %td{style: "text-align:center; padding: 0px;"}= check_box_tag 'item_ids[]', item.id
            %td= item
            %td= item.created_at.to_s(:default)
            %td= item.updated_at.to_s(:default)

      = f.submit 'Restore Selected', class: 'btn btn-success', data: { url: restore_items_path }, id: 'restore_trash', disabled: true
      = f.submit 'Empty Selected', class: 'btn btn-danger', data: { url: destroy_items_path }, id: 'empty_trash',disabled: true
  - else
    = render 'trash/empty'


