- cache incident do
  = content_tag_for(:tr, incident) do
    %td= link_to incident, incident_path(incident)
    %td= incident.interactions.size
    %td= l Time.zone.at(incident.created_at)
    %td= l Time.zone.at(incident.updated_at)
    %td= link_to glyph(:info_sign).concat(' View'), incident
    %td= link_to glyph(:edit).concat(' Edit'), edit_incident_path(incident), id: 'edit_incident', remote: true

    - if incident.open?
      %td= link_to glyph(:folder_close).concat(' Close'), close_incident_path(incident), method: :patch, data: {confirm: 'Are you sure?'}
    - else
      %td= link_to glyph(:folder_open).concat(' ReOpen'), reopen_incident_path(incident), method: :patch, data: {confirm: 'Are you sure?'}
