= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" My Incidents"), incidents_path
    %li= link_to glyph(:plus_sign).concat(' New Interaction'), new_incident_interaction_path(incident), remote: true
    %li= link_to glyph(:print).concat(' Print to PDF'), new_incident_interaction_path(incident)



- cache incident do
  %h1.text-center= incident.name.titleize

  #add_interaction
  .span8
    #interactions
      = render incident.interactions