= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" My Incidents"), incidents_path
    %li= link_to glyph(:plus_sign).concat(' New Interaction'), new_incident_interaction_path(incident), remote: true if incident.open?
    %li= link_to glyph(:print).concat(' Print to PDF'), new_incident_interaction_path(incident)



- cache incident do
  %h2.text-center= incident
  - if incident.open?
    .alert.alert-info.text-center
      %strong New Interactions
      =simple_format("To add a new interaction click the button below or select New Interaction from the menu.")
      =link_to glyph(:plus_sign).concat(' New Interaction'), new_incident_interaction_path(incident), class: 'btn btn-small btn-primary' ,remote: true

    #add_interaction
  #interactions
    = render incident.interactions