= simple_form_for contact_form do |f|
  = errors_for contact_form
  = f.input :name, error: false, required: false
  = f.input :email, error: false, required: false
  = f.input :message, as: :text, required: false
  .hidden
    = f.input :nickname, hint: 'Leave this field blank!'
  = f.button :submit, 'Send message'