%h1.text-center Unassigned Interactions
%br
- if basket.interactions.size > 0
  = form_tag update_basket_path, method: :patch do
    = collection_select :incident, :id, current_user.incidents, :id, :name, prompt: 'Select Incident'
    %table.table.table-striped.sortable
      %thead
        %tr
          %th
          %th Title
          %th Content
          %th Created At
      %tbody
        - basket.interactions.each do |interaction|
          %tr[interaction]
            %td= check_box_tag "interaction_ids[]", interaction.id
            %td= interaction.title
            %td= interaction.content
            %td= interaction.created_at.to_s(:default)
    = submit_tag 'Assign', class: 'btn btn-primary'
- else
  %h4.text-center The basket is currently empty


