%h2.text-center Email
= simple_form_for [incident, email],html: {class: 'form-vertical'}, defaults: { required: false, wrapper: false } do |f|
  = errors_for (email)
  = f.input :from , input_html: {style: 'width: 100%;'}
  = f.input :to, placeholder: 'recipient@example.com', input_html: {style: 'width: 100%;'}
  = f.input :cc, placeholder: 'cc@example.com', input_html: {style: 'width: 100%;'}
  = f.input :subject, input_html: {style: 'width: 100%;'}
  = f.input :body, as: :text, input_html: { rows: 12 ,class: 'input-xlarge', style: 'width: 100%;' }
  = f.submit 'Send Mail', class: 'btn btn-primary'

