%ul.nav.inverse.pull-right
  %li= link_to "Contact Us", new_contact_form_path
  %li= link_to "About", page_path('about')
  %li= link_to "FAQ", page_path('faq')
  %li= link_to "Terms of Service", page_path('terms_of_service')
  %li= link_to "Privacy Policy", page_path('privacy_policy')
  %li
    %a{href: "http://searleconsulting.com/"} Searle Consulting &copy; Copyright 2013
