!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "ServeUs"
    %meta{content: content_for?(:description) ? yield(:description) : "ServUs", name: "description"}
    %meta{content: content_for?(:keywords) ? yield(:keywords) : "ServUs", name: "keywords"}
    = stylesheet_link_tag :application, :media => "all"
    = jquery_include_tag :google
    = javascript_include_tag :application
    = javascript_include_tag controller_path if Rails.application.assets.find_asset "#{controller_name}.js.coffee"
    = csrf_meta_tags
    = yield(:head)
  %body{class: "#{controller_name}", "data-action" => action_name, "data-controller" => controller_path}
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{role: "main"}
      .container
        .content
          .row
            #footnotes_holder
            - if content_for?(:sidebar)
              .sidebar.well
                = yield(:sidebar)
              .main-section-with-sidebar
                = render 'layouts/messages'
                = yield
            - else
              .main-section
                = render 'layouts/messages'
                = yield
          %footer.navbar.navbar-fixed-bottom.navbar-inverse
            .navbar-inner
              .container
                = render 'layouts/footer'